# Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.suo
*.suo
*.suo

# Rider / IntelliJ
.idea/
*.sln.iml

# VS Code
.vscode/

# Build and Publish Artifacts
publish/
[Pp]ackages/
[Tt]estResults/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log